<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body id="body">
    <div id="menu" class="menu">
        <a class="closebtn" id="closebtn">&times;</a>
        <p style="color: white; font-weight: bolder; font-size: 30px; margin-left: 10px;" id="name-title">Name</p>
        <input type="text" id="username" placeholder="Enter your username">
        <br><br><br>
        <span class="Light-Mode-title">Light Mode</span><br>
        <label class="switch">
           
            <input type="checkbox" id="light-mode">
            <span class="slider"></span>
        </label>

    </div>
    <div class="chat-container">
        <div class="chat-header" id="chat-header">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p class="menu-bars" id="menu-bars">&#9776;</p>
                <h1 style="order:2; margin: auto; font-size: 15px; margin-top: 12px;">Group Chat</h1>
            </div>
        </div>

        <div class="chat-messages" id="messages">
        </div>

        <div id="reply-preview" class="reply-preview"></div>
        <!-- Add this within the chat-input div in your index.html -->
            <div class="chat-input" id="chat-input">
                <div class="input-group">
                    <label for="file-input" class="file-upload-label" id="attach-file"><img src="{{ url_for('static', filename='images/attached.png') }}" alt="Attach File"></label>
                    <input type="text" id="message" placeholder="Type a message">
                    <input type="file" id="file-input" style="display:none;">
                    <div id="file-info" style="display: none;">
                        <span id="remove-file">X<span id="file-name"></span></span>
                    </div>
                    <progress id="upload-progress" value="0" max="100" style="display: none;"></progress>
                    
                </div>
                <span id="send_button_span"><button id="send" class = "send"><img src="{{ url_for('static', filename='images/record.png') }}" alt="Send"></button></span>
        </div>

    </div>

    <script>
        const replyImgUrl = "{{ url_for('static', filename='images/reply.png') }}";
        const recordImgUrl = "{{ url_for('static', filename='images/record.png') }}";
        const sendImgUrl = "{{ url_for('static', filename='images/send.png') }}";
        const terminateImgUrl = "{{ url_for('static', filename='images/terminate_recording.png') }}";
        const removeImgUrl = "{{ url_for('static', filename='images/remove_recording.png') }}";
    </script>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
